<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <% if (mode=='development' ){ print('<script src="//cdn.jsdelivr.net/npm/eruda"></script>')} %>
  <% if (mode=='development' ){ print('<script>eruda.init();</script>')} %>

  <script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
</head>

<body class="has-navbar-fixed-top">
  <div id="app"></div>
</body>

</html>