<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" href="https://zany.sh/favicon.svg?emoji=📚" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
</head>

<body class="has-navbar-fixed-top">
  <select id="toc"></select>
  <div id="viewer" class="spreads"></div>
  <div id="prev" class="arrow">‹</div>
  <div id="next" class="arrow">›</div>
</body>

</html>